@model List<WebsiteLaptop.Service.ViewModels.Product.ProductCategoryViewModel>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
}
<!-- Breadcrumbs -->
<style>
    .category-item {
        font-size: 14px;
        font-weight: 600;
        padding: 10px;
    }

        .category-item:hover {
            color: #e83f33;
            background: #ececec;
        }

    .product-item .pr-img-area > a::before {
        background: none;
        transition: none;
    }

    .product-item .item-inner:hover {
        box-shadow: none;
    }
</style>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Trang chủ</a><span>&raquo;</span></li>
                    <li><strong>Danh mục sản phẩm</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="shop-inner">
                    <div class="page-title">
                        <h2>Danh mục sản phẩm</h2>
                    </div>

                    <div class="product-grid-area">
                        <ul class="products-grid">
                            @foreach (var item in Model)
                            {
                                var url = "/" + item.Alias + "-c." + item.Id + ".html";
                                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="pr-img-area">
                                                    <a title="@item.Name" href="@url" class="category-item">
                                                        @item.Name
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container End -->